<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <!-- Embed -->
    <meta name="description" content="Zillion's Documentation">
    <meta id="icon" rel="icon" href="https://github.com/ZillionMuffin/Docs/blob/gh-pages/assets/icon.png" type="image/x-icon">
    <link rel="icon" href="https://github.com/ZillionMuffin/Docs/blob/gh-pages/assets/icon.png">
    <meta name="theme-color" content="#3BD2D6"> <!--Discord Embed color-->
    <!-- Embed -->
  
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" href="style.css">
  </head>
  
<main>
<header>
  
     <nav class="navigation">
        <ul class="menu">
		  <img src="assets/GitHubLogo.png" class="img-responsive" width="27" height="27">    
          <li><a href="/">Main</a></li>
          <li><a href="/about">About</a></li>
          
        </ul>
      </nav>
      </header>
    </main>
    <br>

  <body>

    <!-- HEADER -->
        <div id="header_wrap" class="outer" style="height: 63px; text-align:center;">
        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
    </div>
    <br>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" align="center" text-align="left" style="border-radius: 10px; width: 800px;">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>
  </body>
</html>

<style>
#header_wrap .inner {
 padding: 0px 0px 0px 0px
}

blockquote {
padding: 2px 20px 2px 20px;
border-radius: 5px;
box-shadow: 1px 1px 7px #bfbfbf;
}
</style>
