@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'Alatsi', sans-serif;
  color: #4287f5;
  text-align: center;
  font-size: 52px;
}

footer {
  text-align: center;
  color: #797e80;
  font-size: 14px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  text-align: center;
  color: #407d60;
}

.subtitle {
  padding: -10  0px;
}

.header {
  color: #31d665;
  padding: -100px;
  margin: -45px;
  font-size: 28px;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  paddig: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation {
  width: 300px;
  margin: 0px 0px;
  background: #00;
  box-shadow: 1px 1px 7px #bfbfbf;
  border-radius: 10px;
}

.navigation ul {
  list-style: none;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu img {
  margin-bottom: -7px;
  margin-right: 10px;
}

.menu > li > a {
  display: block;
  padding: 27px 27px;
  color: #303030;
  font-bold: bold;
  text-decoration: none;
}

.menu li a:hover {
  display: block;
  color: #4287f5;
  transition: all .4s;
}

/* Select color */

::selection {
  background-color: #4287f5;
  color: #000;
}

/* ............ */

div#main_content_wrap {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}